.vimeo-container {
    .item {
        padding: 0;
        &__inner {
            position: relative;
            display: block;
            overflow: hidden;
            img {
                transition: transform $transition-default;
                min-width: 100%;
                min-height: 100%;
                height: auto;

                &.hover-effect {
                    transform: scale(1.1337);
                    filter: blur(10px);
                    opacity: 0;
                    transition: opacity $transition-default;
                }
            }
            .item-overlay {
                position: absolute;
                top: 0;
                left: 0;
                text-align: center;
                width: 100%;
                height: 100%;
                display: flex;
                flex-direction: column;
                justify-content: center;
                padding: 5%;
                color: $color-white;
                background-color: rgba($color-black, 0.75);
                opacity: 0;
                transform: scale(1.1);
                transition: opacity $transition-default;
            }
            &:focus,
            &:hover {
                img {
                    &.hover-effect {
                        opacity: 1;
                    }
                }
                .item-overlay {
                    opacity: 1;
                }
            }
        }
    }
}

#vimeo-video-popup {
    position: fixed;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0% + $popup-padding-amount;
    opacity: 0;
    transition: opacity $transition-default;
    z-index: 1051; //bootstrap modal + 1
    &__overlay {
        position: absolute;
        height: 100%;
        width: 100%;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background-color: rgba($color-black, 0.75);
        z-index: -1;
    }
    &__embed-container {
        position: relative;
        display: block;
        height: 0;
        padding: 0;
        overflow: hidden;
        padding-bottom: 56.25%;
        iframe {
            position: absolute;
            top: 50%;
            bottom: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0;
            transform: translateY(-50%);
            max-height: 100vh - $popup-padding-amount * 2;
        }
    }
    &.open {
        opacity: 1;
    }
}
