// COLORS
$color-black: #000;
$color-white: #fff;

// TRANSITIONS
$transition-default-duration: .33s;
$transition-default-timing-function: ease-in-out;
$transition-default: $transition-default-duration $transition-default-timing-function;
